@tailwind base;
@tailwind components;
@tailwind utilities;

body,html {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.maxW{
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 2%;
}

.bgMain{
  background-image: url('/home-1.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
}

h1{
  color: #2D405E;
}

p{
  color: #2D405E;
}

h2{
  color: #B14D29;
}


/* PERGUNTAS */
summary {
  list-style: none; 
  position: relative;
  padding-right: 25px; /* espaço para a seta */
  cursor: pointer;
  background: linear-gradient(0deg, #2D405E -500%, transparent 90%);
}

.cardLinear {
  background-color: #2D405E;
  background: linear-gradient(0deg, #2D405E -500%, transparent 90%);
}

summary::after {
  content: '🠗';
  position: absolute;
  right: 10px;
  transition: transform 0.3s ease;
}

details[open] summary::after {
  transform: rotate(180deg);
}

